<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mapper.UserMapper">
    <select id="getSomeByWrapper" resultType="com.example.demo.entity.User">
        select * from user ${ew.customSqlSegment}
     </select>
    <select id="getAgeIn" resultType="com.example.demo.entity.User">
        select * from user
        <where>
           age in
            <foreach collection="ages" item="it" index="index" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </where>

     </select>
</mapper>